.body {
    -fx-background-color: white;
}

Label {
    -fx-font-family: 'Microsoft YaHei UI';
}

.h1 {
    -fx-font-size: 24px;
}

.h2 {
    -fx-font-size: 18px;
}

.h3 {
    -fx-font-size: 16px;
}

.text-center {
    -fx-alignment: center;
}

.bold {
    -fx-font-weight: bold;
}

.button {
    -fx-border-color: #bdbdbd;
}

.green {
    -fx-fill: green;
    -fx-text-fill: green;
}

.spit {
    -fx-background-color: #686868;
}

.filler, .column-header, .show-hide-columns-button {
    -fx-background-color: #dddddd, white, white;
}

.show-hide-columns-button {
    -fx-border-width: 0;
    -fx-background-insets: 0 0 1 1;
}

.column-header:hover, .show-hide-columns-button:hover {
    -fx-background-color: #dddddd, white, #f8f8f8;
}

.column-header-background > .filler {
    -fx-border-color: transparent #dddddd transparent transparent;
    -fx-border-insets: 0 1 0 0;
}

.column-drag-header {
    -fx-background-color: #2fb254;
}

/*split pane*/
.split-pane > .split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: #eeeeee;
    -fx-pref-width: 8;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-insets: 0, 0 1 0 1;
    -fx-border-width: 0 1 0 1;
}

/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
    -fx-background-insets: 0, 1 0 1 0;
    -fx-border-width: 1 0 1 0;
}

.split-pane > .split-pane-divider:hover {
    -fx-background-color: #E0E0E0;
}